<div class="authentication-card-container" fxLayout="column" fxLayoutAlign="center">
  <mat-card class="authentication-card">
    <mat-card-title>
      <h2 class="content">Sign in to your dashboard</h2>
    </mat-card-title>
    <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
      </mat-form-field>
      <div class="help-block" *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty)">
        Please Enter a valid email address
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" minlength="6" />
      </mat-form-field>
      <div *ngIf="f['password'].errors && f['password'].errors['minlength']">
        Password should be atleast 6 character.
      </div><br>
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" fxLayoutAlign="left" (click)="onSubmit()">
          SIGN IN
        </button>
      </div>
    </form>
  </mat-card>
</div>
