<div class="main-container" fxLayout="row">
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="dashboard">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="dashboard">
      <span>Dashboard</span>
      <span class="example-spacer"></span>
    </div>
    <span class="gap">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
        Sign Out &nbsp;<mat-icon>account_balance_wallet</mat-icon>
      </button>
    </span>
  </mat-toolbar>
</div>
<div id="#divChart" fxLayout="column" fxLayoutAlign="start start">
  <br><br>
  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Overview
  </h1>
</div>
<div>
  <div>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="mat-cardd">
          <div id="divChart">
            <h1>Doughnut Chart</h1>
            <div class="center">
              <canvas id="myChart1"></canvas>
            </div>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="mat-cardd">
          <div id="divChart">
            <h1>Bar Chart</h1>
            <canvas id="myChart"></canvas>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div id="#divChart" fxLayout="column" fxLayoutAlign="start start">
    <br><br>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      User List
    </h1>
  </div>
  <div id="#divChart" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="tablecard">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let index=index">{{ index + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="First Name">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="Last Name">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="User Name">
          <th mat-header-cell *matHeaderCellDef> User Name </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
    <br><br><br><br><br><br>
  </div>
</div>
